@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');


.container__area {
    @apply px-4 py-2;
}

.btn-icon {
    @apply w-10 h-10 hover:bg-base-100 hover:border-base-100;
}

.input-sm {
    @apply !h-10;
}

.conversation-item {
    @apply duration-300 cursor-pointer hover:bg-opacity-50 px-4 py-3 hover:bg-base-200;
}

.conversation-item.active {
    @apply bg-opacity-100 hover:bg-opacity-70 bg-base-200;
}

.placeholder::before {
    content: 'Type here...';
    position: absolute;
    pointer-events: none;
    font-size: 14px;

}

.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
}